streamlit
auto_loader
langchain_google_genai
semantic_splitter
pandas
langchain-community
faiss-cpu
unstructured[pdf]
python-multipart
langchain
hashlib
shutil


#streamlit
#pandas
#PyPDF2
#langchain
#langchain_community
#langchain_openai
#transformers
#langchain_huggingface
#langchain_google_genai
#langchain_groq
#langchain_core
#openpyxl
#faiss-cpu
#beautifulsoup4
