streamlit
auto-doc-loader==0.1.0
semantic_splitter==0.1.1
langchain_google_genai
pandas
langchain-community
faiss-cpu
unstructured[pdf]
python-multipart
langchain


#streamlit
#pandas
#PyPDF2
#langchain
#langchain_community
#langchain_openai
#transformers
#langchain_huggingface
#langchain_google_genai
#langchain_groq
#langchain_core
#openpyxl
#faiss-cpu
#beautifulsoup4
